* {
  box-sizing: border-box;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  padding-top: 40px;
}

/* Genericos */
.button-link {
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
}

.button-link:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

/* Header */
.header {
  background-color: #0f5e5e;
  display: flex;
  align-items: center;
  min-height: 70px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

.header__nav {
  display: flex;
}

.header__lista {
  margin: 0;
  display: flex;
  gap: 16px;
}

.header__item {
  display: flex;
  list-style: none;
}

.header__link {
  text-decoration: none;
  color: white;
  font-size: 16px;
  text-transform: uppercase;
  padding: 16px;
}

/* Section Card */
.section__container {
  background-color: #fef9f5;
  display: flex;
  justify-content: center;
  padding: 80px 0 0;
}

.section__container:last-child {
  padding-bottom: 40px;
}

.section__card {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 24px;
  gap: 16px;
  border-radius: 4px;
  width: 700px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.section__container_list {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 24px;
  padding: 0;
}

.section__list__item {
  display: flex;
}

.section__titulo {
  font-size: 24px;
  font-weight: 400;
  padding-bottom: 8px;
  border-bottom: 1px solid #fcb886;
}

/* Section Perfil */
.perfil__card {
  align-items: center;
}

.perfil__foto {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.perfil__content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.perfil__etiqueta {
  color: #8a8a8a;
}

.perfil__nombre {
  display: flex;
  justify-content: center;
  font-size: 24px;
  font-weight: 400;
}

.perfil__button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  width: 40px;
  height: 40px;
}

.perfil__image {
  width: 24px;
}

/* Section Experiencia */
.experiencia__container {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: 1fr 4fr;
}

.experiencia__col {
  display: flex;
  flex-direction: column;
  line-height: 1.5;
}

.experiencia__detalle {
  color: #8a8a8a;
}

.experiencia__empresa {
  font-size: 18px;
  font-weight: 700;
}

.experiencia__cargo {
  color: #8a8a8a;
  font-size: 16px;
  font-weight: 400;
}

.experiencia__tareas {
  font-size: 16px;
  font-weight: 400;
}

/* Section habilidades */
.habilidades__container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.habilidades__wrapper {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: 1fr 1fr;
  width: 50%;
}

.habilidades__descripcion {
  font-size: 18px;
  font-weight: 700;
}

.color-orange {
  color: #fcb886;
}

.color-grey {
  color: #8a8a8a;
}

/* Footer */
.footer {
  background-color: #0f5e5e;
  min-height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__text {
  color: white;
  font-size: 16px;
  text-decoration: none;
}

.footer__text:hover {
  text-decoration: underline;
}
